
html {
  background-image: url('https://i.pinimg.com/originals/03/08/01/030801823e9e06d52ff5528a57751206.png');
  height: 100vh;
    background-size: cover;
}
.search-container{
    background-color: white;
}
.topnav{
    background-color: white;
}

.panel-tabs{
    background-color: white;
}

.panel-block{
    background-color: white;
}