.container {
    text-align: center; 
    font-size: xx-large;

}
.nav-wrapper {
  background-color: turquoise !important;
  font-size: 14px;
  font-weight: bold;
}

.parallax-container {
    height: "300px";
  }

  .dropdown-content{
    width: max-content !important;
    height:auto !important;
 }