.container {
    text-align: center; 
    font-size: xx-large;

}
.nav-wrapper {
  background-color:lightslategray !important;
  font-size: 14px;
  font-weight: bold;
}

.parallax-container {
    height: "500px";
  }
